<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Management System</title>
        <link rel="stylesheet" href="../public/css/style.css">

    </head>
    <body>
        <div class="container">
            <h1>Task Management Ssystem</h1>

            <!-- Create Task-->
             <div class="form-container">
                <h2>Create a Task</h2>
                <form id="task-form">
                    <input type="text" id="task-title" placeholder="Title" required/>
                    <textarea id="task-description" placeholder="Description"></textarea>
                    <button type="submit">Create Task</button>
                </form>
             </div>

             <!--Task List-->
             <div class="task-list-container">
                <h2>Task List</h2>
               </div id="task-list"></div>
             </div>
        </div>
        <script src="public/js/script.js"></script>
    </body>
</html>